:root {
    --accent-color: #307d2c;
    --background-color: #dcd5be;
    --lesser-accent: #af9f6a;
    --site-font: Arial, Helvetica, sans-serif;
    --header-size: 50px;
    --site-font-size: 15px;
}

body {
    background-color: var(--background-color);
    font-family: var(--site-font);
}

form {
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--lesser-accent);
}

form > * {
    margin: 1em;
    display: block;
    text-align: center;
}

.submitButton {
    margin: 2px auto;
    width: 50%;
    padding: 15px;
    font-size: 20px;
    background-color: var(--lesser-accent);
    border: 1px solid black;
}

.submitButton:hover {
    background-color: var(--accent-color);
}

/* navbar */
.navbar {
    background-color: var(--accent-color);
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    min-height: 20px;
}

.navbar p {
    font-size: 20px;
    color:white;
    text-align: left;
    display: inline;
    float: left;
}

.navbar button {
    display: inline;
    margin-left: auto;
    margin-right: 0;
    background-color: var(--accent-color);
    border: none;
    color: white;
    float: right;
}

/* landing page */
.websiteHeader {
    background-color: var(--accent-color);
    font-size: var(--header-size);
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.landingPage h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

ul {
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

li {
    padding: 10px
}

.loginBox {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    padding: 50px 20px;
    border-radius: 10px;
    background-color: var(--lesser-accent);
}

.loginBox > * {
    margin-top: 1em;
}

/* login page */
.loginForm {
    margin-top: 20%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--lesser-accent);
}

/* account */
.accountPage {
    text-align: center;
}

.accountPage > p {
    font-size: 20px;
    margin: 1em;
}

.newProjectButton {
    display: block;
    width: 20%;
    border: none;
    margin: 0 auto;
    background-color: var(--lesser-accent);
    padding: 10px 20px;
    text-decoration: None;
    color: black;
}

.newProjectButton:hover {
    background-color: var(--background-color);
}

.projectCard {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    min-height: 10em;
    display: inline-block;
    margin: 1em;
}

.projectCard p {
    padding: 1em;
}

.projectTitle {
    font-weight: bold;
}

.projectButton {
    border: none;
    margin: 2px;
    background-color: var(--lesser-accent);
    padding: 10px 20px;
}

.projectButton:hover {
    background-color: var(--background-color);
}

/* project details page */
.projectDetails {
    text-align: center;
}

.projectDetails > p {
    margin: 1em;
}

.projectDetails > button {
    border: none;
    margin: 2px;
    background-color: var(--lesser-accent);
    padding: 10px 20px;
}

.projectDetails > button:hover {
    background-color: var(--background-color);
}