:root {
    --accent-color: #125c3a;
    --background-color: #f3ead8;
    --lesser-accent: #ebe9e3;
    --site-font: 'Roboto', 'Arial', Helvetica, sans-serif;
    --hover: #f1f1f1;
    --header-size: 50px;
    --site-font-size: 16px;
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    font-family: var(--site-font);
    color: #333;
    line-height: 1.6;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 20px;
    text-align: center;
    font-weight: 600;
    color: var(--accent-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    color: #555;
}

h4 {
    font-size: 1.2rem;
    color: #3b3b3b;
    padding-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

.websiteHeader {
    background-color: var(--accent-color);
    font-size: var(--header-size);
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40%;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--shadow);
    border-radius: 10px;
    background-color: var(--lesser-accent);
    box-shadow: 0 4px 8px var(--shadow);
    transition: box-shadow 0.3s ease;
}

form:hover {
    box-shadow: 0 6px 12px var(--shadow);
}

.inputLabel {
    width: 60%;
    font-weight: bold;
    color: #444;
    padding: 0.5em;
    text-align: center;
}

.inputBox {
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    box-shadow: inset 0 2px 4px var(--shadow);
}

.submitButton {
    display: block;
    width: 60%;
    padding: 15px;
    margin: 30px;
    font-size: 1rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitButton:hover {
    background-color: #10412a;
    transform: scale(1.05);
}

.navbar {
    background-color: var(--accent-color);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px var(--shadow);
}

.navbar p {
    font-size: 1.2rem;
    color: white;
    margin: 0;
}

.navbar-actions {
    margin-left: auto;
    display: flex;
    gap: 10px;
    align-items: center;
}


/* project dashboard link */
.navButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 10px;
    font-size: 1rem;
    background-color: var(--accent-color);
    color: white;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;

    height: 40px;
    line-height: 1;
}


.navButton:hover {
    background-color: #10412a;
}

.navbar button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 10px;
    font-size: 1rem;
    background-color: var(--accent-color);
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    height: 40px;
    line-height: 1;
}
.navbar button:hover {
    background-color: #10412a;
}


/* landing page */
.landingContainer {
    text-align: center;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--lesser-accent);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow);
}

.infoSection {
    margin-bottom: 20px;
    padding: 20px;
}

.infoSection h3 {
    font-size: 1.8rem;
    /* color: var(--accent-color); */
    margin-bottom: 15px;
}

.infoSection ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px var(--shadow);
}

.infoSection li {
    padding: 10px;
    font-size: 1rem;
    color: #333;
    /* background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--shadow); */
}

.newProjectButton {
    display: block;
    width: 20%;
    padding: 15px;
    margin: 30px auto;
    font-size: 1rem;
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    border: none;
    text-decoration: None;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.newProjectButton:hover {
    background-color: #10412a;
    transform: scale(1.05);
}


/* project cards */

.projectList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.projectCard {
    width: 25%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid var(--shadow);
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 1em;
    background-color: white;
    box-shadow: 0 4px 8px var(--shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectTitle {
    font-weight: bold;
    font-size: large;
}

.projectCard:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px var(--shadow);
}

.projectButton {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.projectButton:hover {
    background-color: #1b4b40;
}

/* containers */
.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid var(--shadow);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow);
}

.chart-container {
    width: 60%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid var(--shadow);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow);
}

/* fixes responsive issues */
.chart-container canvas {
    width: 100% !important; 
    height: 30% !important;
}
