<!-- temp file for testing add projects -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
</head>
<body>
    <a href="{{ url_for('home') }}" class="btn">Home</a>
    <br><br>
    
    <h1>Add a New Project</h1>
    <form method="POST" action="{{ url_for('project.add_project_form') }}">
        <label for="project_code">Project Code:</label>
        <input type="text" id="project_code" name="project_code" required><br><br>

        <label for="title">Project Title:</label>
        <input type="text" id="title" name="title"><br><br>

        <label for="description">Project Description:</label>
        <textarea id="description" name="description" rows="4" cols="50" placeholder="Enter description here..."></textarea><br><br>

        <label for="instructions">Project Instructions:</label>
        <textarea id="instructions" name="instructions" rows="4" cols="50" placeholder="Enter instructions here..."></textarea><br><br>

        <input type="submit" value="Add Project">
    </form>
</body>
</html>