<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Demo Home</title>
</head>
<body>

    <h1>Citizen Science App</h1>
    <p><strong>Progress Report #2 Backend Demo:</strong> Sessions for Field App</p>
    <br><br>

    <!-- display project code if session exists -->
    {% if project_code %}
        <p><strong>Current Project Code:</strong> {{ project_code }}</p>
        <a href="{{ url_for('field_app.show_observations') }}" class="btn">View Project Observations</a>
    {% else %}
        <p><strong>Current Project Code:</strong> No active project session.</p>
    {% endif %}
    <br><br>
    <br><br>

    <a href="{{ url_for('field_app.enter_code_entry') }}" class="btn">Enter Project Code</a>
    <br><br>
    <a href="{{ url_for('field_app.clear_session') }}" class="btn">Clear Session</a>

</body>
</html>