<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Projects</title>
</head>
<body>
    <a href="{{ url_for('home') }}" class="btn">Home</a>
    <br><br>

    <h1>Projects for user {{ username }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Project Code</th>
                <th>Title</th>
                <th>Description</th>
                <th>Instructions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.project_code }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.instructions }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
